@font-face {
    font-family: "OpenSans Bold"; /* Имя шрифта */
    src: url("../webfonts/OpenSans/OpenSans-Bold.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "OpenSans"; /* Имя шрифта */
    src: url("../webfonts/OpenSans/OpenSans-Regular.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "OpenSans Semibold"; /* Имя шрифта */
    src: url("../webfonts/OpenSans/OpenSans-Semibold.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Comfortaa"; /* Имя шрифта */
    src: url("../webfonts/Comfortaa/Comfortaa-Bold.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Arial"; /* Имя шрифта */
    src: url("../webfonts/arial.ttf"); /* Путь к файлу со шрифтом */
}
